body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 20px;
}

p {
  color: brown;
  font-size: larger;
  font-weight: bold;
}

h1 {
  color: rgb(47, 1, 139);
}
