body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 20px;
  padding: 13px;
}

div{
  margin: 0 auto;
}

p {
  color: brown;
  font-size: larger;
  font-weight: bold;

}

h1 {
  color: rgb(47, 1, 139);
  font-weight: bold;
}

div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
}

h2{
  color: rgb(47, 1, 139);
}